/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body { font-family: 'Raleway', sans-serif; font-size: 1em; line-height: 1.4; background: url('../img/welcome-bg.jpg') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; margin: 0 0 0 0; overflow: hidden; }
::-moz-selection { background: #b3d4fc; text-shadow: none; }
::selection { background: #b3d4fc; text-shadow: none; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
img { vertical-align: middle; }
fieldset { border: 0; margin: 0; padding: 0; }
textarea { resize: vertical; }
.chromeframe { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }

/* ==========================================================================
   Util Classes
   ========================================================================== */

.text-blue { color:#37bde3; }
.text-special {
    color:#37bde3 !important;
    font-family: 'Merriweather', serif !important;
    font-size: 24px !important;
    font-style: italic !important;
    letter-spacing: 8px;
    margin:6px 0 !important;
}

/* ==========================================================================
   Site Elements
   ========================================================================== */

.transition-layer { position: absolute; background: #fff; text-align: center; height: 100vh; z-index: 99;}

.loading {
    opacity: 0;
    position: relative;
    top:35%;
    -webkit-transform: translateY(-35%);
    -moz-transform: translateY(-35%);
    -ms-transform: translateY(-35%);
    -o-transform: translateY(-35%);
    transform: translateY(-35%);
}

.loading h3 {
    font-family: 'Merriweather', serif;
    letter-spacing: 4px;
    font-style: italic;
    color: #646464;
}

.site-body, .welcome, .main, .meet { height:100vh; }


.site-notification {
    position: absolute;
    opacity: 1;
    z-index: 99999;
    top:-5px;
    width: 100%;
    height: 101vh;
    background: #fff;
    display: block;
}

.site-notification h1 {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-style: italic;
    position: relative; top: 30%;
    -webkit-transform: translateY(-30%);
    -moz-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    -o-transform: translateY(-30%);    
    transform: translateY(-30%);
    padding:0;

}

@media only screen and (max-width: 31.200em) {
.site-notification {
    opacity: 0;
    z-index: -99999;
    display: none;
}    

}


/* ==========================================================================
   Welcome
   ========================================================================== */

.lockup { position: relative; top: 25%;
    -webkit-transform: translateY(-25%);
    -moz-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    -o-transform: translateY(-25%);
    transform: translateY(-25%);
}
.lockup p {
    padding:0 25px;
    margin:0;
    color:white;
    font-size: 18px;
    text-shadow: 2px 2px 6px #000;
    font-weight: 200;
}
.lockup-copy { letter-spacing: 1px; }
.cta { 
    position: relative; top: 30%;
    -webkit-transform: translateY(-30%);
    -moz-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    -o-transform: translateY(-30%);
    transform: translateY(-30%);

cursor: pointer; height: auto; }
.cta-button { width:75%; margin:0 auto; border: 2px solid #fff; border-radius: 2px; }
.cta-button h1 { color: white; font-size: 18px; padding: 4px 0 0 0; letter-spacing: 6px; text-shadow: 2px 2px 6px #000; }

/* ==========================================================================
   Meet
   ========================================================================== */

.meet-hero {
    width:100%;
    height:330px;
    background: url('../img/meet-alex.jpg') no-repeat -100px -40px fixed;
    -webkit-background-size: 600px 450px;
    -moz-background-size: 600px 450px;
    -o-background-size: 600px 450px;
    background-size: 600px 450px;
}

.meet-hero-copy {
    position: relative;
    top:70%;
    text-align: center;
    color:#fff;
    letter-spacing: 4px;
    background: rgba(0, 0, 0, 0.3);
    padding:5px 0;
}

.meet-copy { padding:5px 0; }
.meet-copy p { padding:0 25px; color:#898989; font-weight: 200; font-size: 18px; }

.meet-cta { width:90%; height:42px; margin:0 auto; background: #777576; box-shadow: 2px 2px 6px rgba(0,0,0,0.3); }
.meet-cta h1 { color: white; font-size: 18px; padding: 6px 0 0 0; letter-spacing: 6px; text-shadow: 2px 2px 4px #000; cursor: pointer; }


/* ==========================================================================
   Help
   ========================================================================== */

.help-nav { 
    position: absolute;
    margin:0; 
    padding:0;
    width:100%;
    height: 45px;
    list-style: none;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.help-nav-button:nth-child(1) { border-right:4px solid #dbd8d8; }
.help-nav-button {
    padding:10px 0;
    width:50%;
    letter-spacing: 4px;
    color:#dbd8d8;
}

.help-nav-button.active {
    color:#37bde3;
    font-weight: bold;
}

.help-results {
    padding-top:0px;
    height:325px;
}

.help-copy { padding:5px 1% 0 1%; }
.help-copy h3 { color:#585757; font-size: 22px; font-weight: 200; letter-spacing: 4px; }
.help-copy p { color:#585757; font-size: 16px; font-weight: 200; padding:0 1%; }

.surgery-image img {
    height:400px;
}

.surgery-image {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.surgery-image.active {
    opacity: 1;
    visibility: visible;
    display: block;
}

.surgery-before {
    width:100%;
    height:330px;
    background: url('../img/chest-before.jpg') no-repeat top fixed;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
    margin: 0 0 0 0;
    overflow: hidden;
}

.surgery-after {
    width:100%;
    height:330px;   
    background: url('../img/chest-after.jpg') no-repeat top fixed;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
    margin: 0 0 0 0;
    overflow: hidden;
}

.tap-instructions {
    position: relative;
    bottom:75px;
    width: 100%;
    height:50px;
    background: rgba(255, 255, 255, 0.2);
}

.tap-instructions h3 {
    color: #f8f8f8;
    text-shadow:2px 2px 2px rgba(0, 0, 0, 0.9);
    padding: 12px 0 0 0;
    font-weight: 100;
    font-size: 16px;
    letter-spacing: 6px;
}

.tap-copy { opacity: 0; visibility: hidden; display: none; }
.tap-copy.active { opacity: 1; visibility: visible; display: block; }

.help-cta { width:90%; height:42px; margin:0 auto; background: #777576; box-shadow: 2px 2px 6px rgba(0,0,0,0.3); }
.help-cta h1 { color: white; font-size: 18px; padding: 6px 0 0 0; letter-spacing: 6px; text-shadow: 2px 2px 4px #000; cursor: pointer; }

/* ==========================================================================
   Donate
   ========================================================================== */

.giant-titty {
    padding:15px 0 0 0;
}

.breast {
    position: relative;
    margin:0 auto;
    width:175px;
    height:175px;
    background: #efefef;
    border-radius: 250px;
}

.nipple {
    position: absolute;
    width:75px;
    height:75px;
    border-radius: 50px;
    background: #cdcdcd;
    top:52px;
    left:50px;
}

.donation-percentage { 
    margin:24px auto;
    font-size: 20px;
    width:35px;
}

.raised-copy {
    text-align: center;
    font-weight: 300;
    color:#9c9c9c;
    padding:20px 0 0 0;
    letter-spacing: 4px;
}

.select-copy {
    text-align: center;
    font-size: 16px;
    letter-spacing: 2px;
    color:#5d5a5a;
    padding:20px 0 0 0;
}

.select-disclaimer {
    text-align: center;
    color:#5d5a5a;
    font-size: 12px;
}

.donate-form {
    width:70%;
    margin:0 auto;
}

.donate-submit {
    width:100%;
    height:42px;
    margin:0 auto;
    background: #777576;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
    border-radius: 2px;
    cursor: pointer;
}

.donate-submit h1 {
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 8px 0 0 0;
    letter-spacing: 6px;
    cursor: pointer;
    font-weight: 200;
    cursor: pointer;
   -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}


/* ==========================================================================
   Share 
   ========================================================================== */

.share {
    width:100%;
    height: 101vh;
    background: url('../img/welcome-bg.jpg') no-repeat center center fixed;
     -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;     
}

.share-menu, .social-menu {
    width:80%;
    height:50px;
    margin:0 auto;
}

.share-menu li, .social-menu li {
    list-style: none;
    float:left;
    width:33.3%;
    text-align: center;
}




.share-copy     { padding-top:30px; } 
.share-copy h1  { padding:0 0 5px 0; margin:0; font-size: 36px !important; }
.share-copy p   { padding:0 35px; }
.share-copy, .share-copy h1 { color:#fff; }

.share-divider {
    width:80%;
    margin:0 auto 25px auto;
    padding:15px 0;
    border-bottom: #fff 3px solid;
}

.share-end p {
    margin:5px 0 10px 0;
    color: #fff;
    font-size: 24px;
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-weight: 200;
}

.share-end p:nth-child(2) a { text-decoration: underline; }

.snap-share {
  opacity: 0;
  display: none;
  z-index: -99999999;
}

.snap-share > .instructions {
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 101vh;
  text-align: center;
  background: rgba(255,255,255,0.9);
}

.snap-share > .instructions h3 {
  position: relative;
  top:35%;
  font-family: 'Merriweather', serif !important;
  font-size: 18px;
  -webkit-transform: translateY(-35%);
  -moz-transform: translateY(-35%);
  -ms-transform: translateY(-35%);
  -o-transform: translateY(-35%);
  transform: translateY(-35%);
}

.snap-share > .copy {
  position: absolute;
  width:100%;
  top:45%;
  z-index: 999;
  text-align: center;
  padding: 15px 0;
  color:#FFF;
  background: rgba(0,0,0, 0.6);
  font-weight: 200;
  letter-spacing: 1px;
/*  -webkit-transform: translateY(-30%);
  -moz-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
  -o-transform: translateY(-30%);
  transform: translateY(-30%);  */
}

.snap-share > .image {
  position: absolute;
  width:100%;
  height: 101vh;
    background: url('../img/meet-alex.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
/* meet-alex.jpg
  opacity: 0;
  display: none;
  z-index: -999999;*/
}

.snap-share.active { 
  opacity: 1;
  display: block;
  z-index: 99999;
}

/* ==========================================================================
   Preloader
   ========================================================================== */


.loader {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0 auto;
    width: 50px;
    height: 50px;
    position: relative;
    /*margin: -25px -125px;*/
    list-style-type: none;
}

.loader li {
  float: left;
  position: relative;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 0 0 50% 50%;
  border: 4px solid #37bde3;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.ball {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -6px;
  border-radius: 100%;
  background: #37bde3;
  box-shadow: 0 -15px 0 0 rgba(255, 255, 255, 0.15), 0 -10px 0 0 rgba(255, 255, 255, 0.10), 0 -5px 0 0 rgba(255, 255, 255, 0.05);
}

.circle {
  -webkit-animation: rotate 1.5s cubic-bezier(0.45, 0, 1, 1) infinite;
  animation: rotate 1.5s cubic-bezier(0.45, 0, 1, 1) infinite;
}

.ball {
  -webkit-animation: fall 1.5s cubic-bezier(0.95, 0, 1, 1) infinite;
  animation: fall 1.5s cubic-bezier(0.95, 0, 1, 1) infinite;
}

.loader li:nth-child(1) div {
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}

.loader li:nth-child(2) div {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}

.loader li:nth-child(3) div {
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}

.loader li:nth-child(4) div {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}

.loader li:nth-child(5) div {
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
}

@keyframes rotate {
  0%, 20% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  0%, 20% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes fall {
  0%, 20% {
    transform: translatey(-30px);
    opacity: 0;
  }
  20%,
  24%,
  27%,
  30%,
  50%,
  75% {
    transform: translatey(0px);
    opacity: 1;
  }
  22% {
    transform: translatey(-10px)
  }
  25% {
    transform: translatey(-6px)
  }
  28% {
    transform: translatey(-2px)
  }
  30% {
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.3);
  }
  75%,
  100% {
    box-shadow: 0 -15px 0 0 rgba(255, 255, 255, 0.15), 0 -10px 0 0 rgba(255, 255, 255, 0.10), 0 -5px 0 0 rgba(255, 255, 255, 0.05);
    transform: translatey(30px);
    opacity: 0;
  }
}

@-webkit-keyframes fall {
  0%, 20% {
    -webkit-transform: translatey(-30px);
    opacity: 0;
  }
  20%,
  24%,
  27%,
  30%,
  50%,
  75% {
    -webkit-transform: translatey(0px);
    opacity: 1;
  }
  22% {
    -webkit-transform: translatey(-10px)
  }
  25% {
    -webkit-transform: translatey(-6px)
  }
  28% {
    -webkit-transform: translatey(-2px)
  }
  30% {
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.3);
  }
  75%,
  100% {
    box-shadow: 0 -15px 0 0 rgba(255, 255, 255, 0.15), 0 -10px 0 0 rgba(255, 255, 255, 0.10), 0 -5px 0 0 rgba(255, 255, 255, 0.05);
    -webkit-transform: translatey(30px);
    opacity: 0;
  }
}   

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}